#ma {
    background-color: rgb(165, 174, 229);
    border-color: rgb(1, 1, 235);
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
    width: 300px;
    height: 30px;
    font-size: 30px;
    text-align: center;
    padding: 10px;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
#ma:hover {
    animation-name: anime;
    animation-direction:alternate;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}
@keyframes anime{
    0%{
        background-color: palevioletred;
    }
    100% {
        box-shadow: rgba(230, 42, 236, 0.4) 0px 0px 5px 5px,
        rgba(230, 42, 236, 0.3) 0px 0px 10px 10px, rgba(230, 42, 236, 0.2) 0px 0px 15px 15px,
        rgba(230, 42, 236, 0.1) 0px 0px 20px 20px, rgba(230, 42, 236, 0.05) 0px 0px 25px 25px;
      }
    
}